#navigation {
    font:12px verdana, arial, sans-serif;
}
#navigation, #navigation li {
    list-style:none;
    padding:0;
    margin:0;
}
#navigation li {
    float:left;
}
#navigation li a {
    display:block;
    /* 如果是中英文混排的文字，建议用固定宽度
    width:150px;
    height:30px;
    line-height:30px;
    text-align:center;
    */
    padding:8px 50px;
    background:#3A4953;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
}
#navigation li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
}
#navigation li a.last {
    border-right:0; /* 去掉左侧边框 */
}

#top {
    padding: 8px 45px;
    width: 100px;
    height: auto;

}

body {
    background-repeat: no-repeat;

}