
.search_row {
        margin-bottom: 5px;
        margin-top: 5px;
}

.search_label {
    width:70px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.editText {
    width: 150px;
    margin-right: 10px;
    color: #122e29;
    border: 1px solid #005344;
    /*background-color: #73b9a2;*/
}

/*选中后的样式*/
.editText:focus {
    border: 1px solid blue;
}

.search_button {
    width:230px;
    /*margin-left: 150px ;*/
}




/*分页的table样式如下：*/
table.gridtable {
    margin: 50px 0 5px 5px;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse;
    font-weight:bold;

}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}